{% extends 'base.html' %}
{% block title %}
{{item.item_name}}
{% endblock %}
{% block body %}
<div class="item-detail fade-in">
    <div class="item-image-container">
    </div>
    <div class="item-info">
        <h1 class="item-title">{{item.item_name}}</h1>
        <div class="item-price">${{item.price}}</div>
        {% if item.off %}
        <div class="item-off">{{item.off}}% OFF</div>
        {% endif %}
        <div class="item-description">
            {{item.about}}
        </div>
        <div class="item-date">
            Added on {{item.date}}
        </div>
        <button class="add-to-cart">Add to Cart</button>
    </div>
</div>
{% endblock %}